pandas==1.5.3
plotly==5.14.0
streamlit==1.20.0
openpyxl==3.1.2
plotly==5.14.0
streamlit-aggrid==0.3.3
lxml==4.9.3
geopy==2.3.0
shapely==2.0.1
mysqlclient==2.1.1
SQLAlchemy==2.0.19
stqdm==0.0.5
streamlit-option-menu==0.3.6
rembg==2.0.50